[submodule "crates/php-parser/benches/corpus/laravel"]
	path = crates/php-parser/benches/corpus/laravel
	url = https://github.com/laravel/framework.git
[submodule "crates/php-parser/benches/corpus/symfony"]
	path = crates/php-parser/benches/corpus/symfony
	url = https://github.com/symfony/symfony.git
[submodule "crates/php-parser/benches/corpus/wordpress"]
	path = crates/php-parser/benches/corpus/wordpress
	url = https://github.com/WordPress/WordPress.git
