name: CI

on:
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - uses: Swatinem/rust-cache@v2

      - name: Build all tests
        run: cargo test --workspace --no-run
        env:
          CARGO_BUILD_JOBS: 1

      - name: Run tests
        run: cargo test --workspace
